@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Shrikhand&display=swap');

body {
     background-color:#c4c4c4;
     margin: 0;
     padding: 0;
}
img {
     max-width: 100%;
}
#content {
     max-width: 1600px;
     margin: 0 auto;
}
header {
     background-color:#14C4C4;
     display: grid;
     grid-template-columns: 200px auto;
}
#logo_link {
     padding-top: 5px;
     justify-self: center;  
     align-self: center;
}
.logo {
     width: 150px;
     height: 100px;
     border-radius: 50%;
     position: relative;
}
nav {
     text-align: center;
     background-color:#14C4C4;
     display: flex;
     justify-content: space-around;
     padding: 1em
}
nav a {
     text-align: center;
     color: #fff;
     text-decoration: none;
     font-family: 'Merriweather', 'Helvetica', 'sans-serif';
     font-size: 22px;
     padding: .5em .75em;
     line-height: 22px;
}
nav a:hover {
     background-color:#14AC53;
     color: #000;
}
#hero-box h4 {
     color: #000;
     font-family: 'Merriweather', 'Helvetica', 'sans-serif';
     font-size: 22px;
     line-height: 22px;
     padding: 10px;
}
#hero-img {
     width: 100%;
}
#hero-msg {
     text-align: center;
}
.home-title {
     color:#0A9AD2;
     font-size: 3em;
     margin-top: 10px;
}
.button-box {
     text-align: center;
     margin: 55px;
}
main section {
     text-align: center;
}
main section img {
     box-sizing: border-box;
}
.card-img {
     width: 30%;
     height: 300px;
     border: 10px solid #14AC53;
}
.icon {
     padding-top: 10px;
     width: 80px; 
     margin-top:  25px;
}
h2 {
     text-align: center;
     color: #0A9AD2;
     font-family:  'Shrikhand', 'Brush Script MT', 'Serif';
     font-size: 22px;
     line-height: 22px;
     padding: 10px;
}
}
.rivers-card{
     margin: 200px 0;
}
.camping-card{
     margin: 200px 0;
}
.rapids-card{
     margin: 200px 0;
}
#background {
     height: 750px;
     background-color:#14C4C4;
}
.mountains {
     margin: 0 auto;
     width: 100%;
}
.msg {
     background-color:#0AC496;
     line-height: 1.5em;
     padding: 55px;
}
.msg h2 {
     text-align: center;
     color: #0A9AD2;
     font-family:  'Shrikhand', 'Brush Script MT', 'Serif';
     font-size: 22px;
     line-height: 22px;
     padding: 10px;
}
.msg p {
     padding-bottom: 15px;
     color: #000;
     padding: 10px;
     font-family: 'Merriweather', 'Helvetica', 'Sans-serif';
     font-size: 22px;
     line-height: 22px;
}
.join, .book {
     background-color:#14c4c4;
     color: #fff;
     text-decoration: none;
     font-size: 18px;
     padding: 15px 30px;
     margin-top: 15px;
     border-radius: 5px;
}
.join:hover, .book:hover {
     background-color:#14AC53;
     color: #000;
}
footer {
     background-color:#14C4C4;
     padding: 25px 50px; 
     margin-top: 0;  
     display: flex;  
     justify-content: space-around; 
     align-items: center;
}
footer a{
     color: #fff;
     text-decoration: none; 
}
footer a:hover{
     background-color: #14AC53;
     color: #000;
}
footer p {
     color: #000;
     padding: 10px;
     font-family: 'Merriweather', 'Helvetica', 'sans-serif';
     font-size: 22px;
     line-height: 22px;
}
footer p a:hover {
     text-decoration: underline;
}
.social img {
     width: 80px;
     padding-top: 15px;
}
#info {
     font-size: .75em; 
     color: #e6f9ff;
}
