@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Shrikhand&display=swap');

h1, h2, h3, h4, h5, h6 , nav a{
     text-align: center;
     color: #0A9AD2;
     font-family:  'Shrikhand', 'Brush Script MT', serif;
     font-size: 22px;
     line-height: 22px;
     padding: 10px;
}
p {
     color: #000;
     padding: 10px;
     font-family: 'Merriweather', Helvetica, sans-serif;
     font-size: 22px;
     line-height: 22px;
}
body {
     background-color:#c4c4c4;
     margin: 0;
     padding: 0;
}
img {
     max-width: 100%;
}
#content {
     max-width: 1600px;
     margin: 0 auto;
}
header {
     background-color:#14C4C4;
     display: grid;
     grid-template-columns: 200px auto;
     display: grid;
     grid-template-columns: 150px auto;
}
#logo_link {
     padding-top: 5px;
     justify-self: center;  
     align-self: center;
}
.logo {
     width: 100px;
     height: 100px;
     border-radius: 50%;
     background-color: #fff;
     position: relative;
}
nav {
     text-align: center;
     background-color:#14C4C4;
     display: flex;
     justify-content: space-around;
     padding: 1em;
     display: flex;
}
nav a {
     text-align: center;
     color: #fff;
     text-decoration: none;
     font-family: 'Merriweather', Helvetica, sans-serif;
     font-size: 22px;
     padding: .5em .75em;
     line-height: 22px;
}
nav a:hover {
     background-color:#14AC53;
     color: #000;
}
#hero {
     display: grid;
     grid-template-columns: 1fr 3fr 1fr;
     margin-top: -100px;
}
#hero-box{
     grid-column: 1/4;
     grid-row: 1/3;
     z-index: -1;
}
#hero-img {
     width: 100%;
}
#hero-msg {
     margin-top: 100px;
     text-align: center;
     grid-column: 2/3;
     grid-row: 1/2;
}
#hero-msg h4 {
     color: #fff;
     font-family: 'Merriweather', Helvetica, sans-serif;
     font-size: 22px;
     line-height: 22px;
     padding: 10px;
}
.home-title {
     color:#0A9AD2;
     font-size: 3em;
     margin-top: 10px;
}
.button-box {
     text-align: center;
     margin: 55px;
}
.home-grid {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
main section {
     text-align: center;
}
main section img {
     box-sizing: border-box;
}
.card-img {
     width: 100%;
     height: 300px;
     border: 10px solid #14AC53;
     transition: transform .5s;
     box-shadow: 5px 5px 10px #000;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.icon {
     padding-top: 10px;
     width: 80px; 
     margin-top:  25px;
}
.rivers-card{
     margin: 200px 0;
    grid-column: 2/4;
    grid-row: 2/3;

}
.camping-card{
     margin: 200px 0;
     grid-column: 5/7;
     grid-row: 2/3;
}
.rapids-card{
     margin: 200px 0;
     grid-column: 8/10;
     grid-row: 2/3;
}
#background {
     height: 750px;
     background-color:#14C4C4;
     grid-column: 1/11;
     grid-row: 4/9;
}
.mountains {
     margin: 0 auto;
     width: 100%;
     grid-column: 2/7;
     grid-row: 5/8;
     box-shadow: 5px 5px 10px #000;
}
.msg {
     background-color:#0AC496;
     line-height: 1.5em;
     padding: 55px;
     grid-column: 6/10;
     grid-row: 6/7;
     box-shadow: 5px 5px 10px #000;
}
.msg h2 {
     text-align: center;
     color: #0A9AD2;
     font-family:  'Shrikhand', 'Brush Script MT', serif;
     font-size: 22px;
     line-height: 22px;
     padding: 10px;
}
.msg p {
     padding-bottom: 15px;
}
.join, .book {
     background-color:#14c4c4;
     color: #fff;
     text-decoration: none;
     font-size: 18px;
     padding: 15px 30px;
     margin-top: 15px;
     border-radius: 5px;
}
.join:hover, .book:hover {
     background-color:#14AC53;
     color: #000;
}
footer {
     background-color:#14C4C4;
     padding: 25px 50px; 
     margin-top: 0;  
     display: flex;  
     justify-content: space-around; 
     align-items: center;
}
footer a{
     color: #fff;
     text-decoration: none; 
}
footer a:hover{
     background-color: #14AC53;
     color: #000;
}
footer p a:hover {
     text-decoration: underline;
}
.social img {
     width: 80px;
     padding-top: 15px;
}
#info {
     font-size: .75em; 
     color: #e6f9ff;
}


/* BLOG PAGE */

#blog_main {
     display: grid;
     grid-template-columns: repeat(10, 1fr);
}
#blog_main h1{
     font-size: 2em;
}
#bold-anouncement-img {
     margin: 75px 0px;
     width: 850px;
     grid-column: 2/7;
     grid-row: 1/2;
}
#anouncement-background {
     margin: 75px 0px;
     grid-column: 2/7;
     grid-row: 1/2;
     background-color: #14c4c4;
     opacity: 35%;
}
#bold-anouncement {
     margin: 75px 0px;
     grid-column: 2/7;
     grid-row: 1/2;
     z-index: 1;
}
#bold-anouncement h1 {
     color: #000;
     font-size: 3em;
     line-height: 2em;
     width: 450px;
     margin: 100px 150px;
}
#anouncement-text-box {
     height: 350px;
     background-color: #0AC496;
     grid-column: 6/10;
     grid-row: 1/2;
     z-index: 1;
     margin-top: 300px;
     align-items: center;
     border-radius: 20px;
     
}
#anouncement-text-box p {
     width: 500px;
     margin: 35px;
     font-size: 1.5em;
     line-height: 1.5em;
     text-align: center;
}
#past-season {
     grid-column: 1/11;
     grid-row: 2/5;
     padding: 10px;
}
#hilights-box {
     background-color: #0AC496;
     width: 100%;
     height: 42em;
     align-items: center;
}
#hilights-box p {
     padding: 40px;
     width: 40%;
     font-size: 1.6em;
     line-height: 1.5em;
     margin: 30px;
}
#hilight-title {
     margin: 25px auto;
}
#over-the-rapids {
     width: 300px;
     grid-column: 9/10;
     grid-row: 2/3;
     margin: 200px 50px -200px -50px;
     z-index: 1;

}
#kathy {
     width: 450px;
     grid-column: 6/9;
     grid-row: 3/4;
}
#soft-bend {
     width: 700px;
     grid-column: 7/10;
     grid-row: 4/5;
     margin: -100px auto 100px auto;
}
#wild-encounters {
     grid-column: 1/11;
     grid-row: 5/6;
}
#encounter-img {
     grid-column: 2/10;
     grid-row: 6/7;
     box-shadow: 10px 10px 10px #000;
}
#encounters-intro {
     background-color: #c4c4c4;
     opacity: 65%;
     grid-column: 3/9;
     grid-row: 6/7;
     height: 150px;
     margin: auto 0;
}
.encounter-card-img {
     width: 100%;
     box-shadow: 5px 5px 10px #000;
}
.encounter-card-img:hover {
     opacity: 25%;
}
#scorpion {
     grid-column: 2/5;
     grid-row: 7/8;
     margin: 50px auto -50px auto;
}
.encounter-title h2{
     font-size: 3em;
     line-height: 2em;
     padding-top: 200px
}
#scorpion-title {
     height: auto;
     width: auto;
     grid-column: 2/5;
     grid-row: 7/8;
     z-index: -1;
     margin: 50px auto -50px auto;
}
.encounter-card {
     text-align: center;
     width: 600px;
}
#scorpion-card {
     grid-column: 5/10;
     grid-row: 7/8;
     margin: auto auto -25px auto;
}
#big-horned-sheep-card {
     grid-column: 2/7;
     grid-row: 8/9;
     margin: 175px auto auto auto;
}
#big-horned-sheep {
     grid-column: 7/10;
     grid-row: 8/9;
     margin: 100px auto 50px auto;
}
#big-horned-sheep-title {
     grid-column: 7/10;
     grid-row: 8/9;
     z-index: -1;
     margin: 100px auto 50px auto;
}



@media screen and (max-width: 900px) {
     #hero, .home-grid {
         display: block;
         height: auto;
     }
     nav, footer {
         flex-direction: column;
     }
     nav a {
         display: block;
         padding: 15px;
     }
     #hero {
         margin-top: 0;
     }
     #hero-msg {
         margin-top: 0;
     }
     #hero-msg h4 {
         display: none;
     }
     .home-title {
         font-size: 25px;
         color: #6f7364;
     }
     .rivers-card, .camping-card, .rapids-card { 
         margin: 50px auto;
         width: 60%;
     }
     #background {
         display: none;
     }
     .mountains, .msg {
         width: 80%;
         display: block;
         margin: 0 auto;
     }
     footer {
         margin-top: 25px;
     }
 }
          
